<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2010-2012 Matthias Klass, Johannes Leimer,
  ~               Rico Lieback, Sebastian Gabriel, Lothar Gesslein,
  ~               Alexander Rampp, Kai Weidner
  ~
  ~ This file is part of the Physalix Enrollment System
  ~
  ~ Foobar is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>UserGui</display-name>

    <!--
          There are three means to configure Wickets configuration mode and they
          are tested in the order given. 1) A system property:
          -Dwicket.configuration 2) servlet specific <init-param> 3) context
          specific <context-param> The value might be either "development"
          (reloading when templates change) or "deployment". If no configuration
          is found, "development" is the default.
      -->

    <!-- EntityManager per Request Mapping -->
    <filter>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- / EntityManager per Request Mapping -->


    <!-- Spring Security integration -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- /Spring Security integration -->


    <!-- Wicket Mapping -->
    <filter>
        <filter-name>wicket.usergui</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>hsa.awp.usergui.WicketApplication</param-value>
        </init-param>
        <init-param>
            <param-name>configuration</param-name>
            <!-- <param-value>development</param-value> -->
            <param-value>deployment</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>wicket.usergui</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- / Wicket Mapping -->


    <!-- Spring Config Support -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/config/spring-config-combine.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- / Spring Config Support -->

</web-app>
